<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- DataWedge is a separate package on Zebra devices; Android 11+ needs this
       visibility so we can send CREATE_PROFILE / SET_CONFIG broadcasts. -->
  <queries>
    <package android:name="com.symbol.datawedge" />
    <intent>
      <action android:name="com.symbol.datawedge.api.ACTION" />
    </intent>
  </queries>
</manifest>
