EXPO_PUBLIC_APP_API_URL=https://app-api-test.weldsuite.org
EXPO_PUBLIC_REALTIME_URL=wss://realtime-test.weldsuite.org
EXPO_PUBLIC_PLATFORM_URL=https://app-test.weldsuite.org
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZGVmaW5pdGUtZWFnbGUtMy5jbGVyay5hY2NvdW50cy5kZXYk
